.user_options_bottom_drawer{
    /* background: var(--dark); */
    background: #333;
    color: var(--light);
    padding: 0.5rem;
    border-radius: 0 0 4px 4px;
    position: absolute;
    width: 8rem;
    top: 4rem;
    right: 0;
}

.user_options{
    color: var(--light);
    justify-content: flex-end;
    cursor: pointer;
}
.user_options:hover{
    color: var(--primary);
}