:root{
    --primary: #1e90ff;
    --primary-dark: #5865F2;
    --secondary: #c2e0ff;
    --light: #ebf5ff;
    --gray: #6f8296;
    --dark: #172933;
    
}
.App{
    min-height: 100vh;
    font-family: 'Roboto', "Oxygen", sans-serif;
}

h1, h2, h3, h4, h5, .logofont{
    font-weight: 600;
    font-family: 'Signika', sans-serif;
}

a{
    color: var(--primary);
    transition: color ease 0.35s;
}
a:hover{
    color: var(--dark);
    text-decoration: underline;
}

input:focus, textarea:focus, select:focus{
    outline-color: var(--primary);
}

/* feature navbar activelink */
.active_link{
    color: var(--light);
}

/* main layout */
.app-main{
    display: flex;
    flex-direction: column-reverse;
}
.app-content{
    padding-top: 1rem;
    padding-bottom: 3rem;
}
/* tablet and up */
@media (min-width: 768px) {
    .app-main{
        flex-direction: row;
    }
    .app-content{
        margin-left: 6rem;
        padding-top: 5rem;
        padding-left: 1rem;
        padding-right: 1rem;
        width: calc(100% - 6rem);
    }
}

